<form class="input">  
    <div class="inputs">
      <input name="title" id="title" placeholder="Quote" #newtitle>
      <input name="link" id="link" #newlink placeholder = "Link">
    </div>
  <br>
    <button (click)="addQuote(newtitle, newlink)"
            class="button">
      Submit Quote
    </button>
  
  </form>

  <div class = "quotes">
    <div class = "row">
        <app-quote *ngFor="let quote of sortedQuotes(); let i = index" [quote]="quote" class = "quote">
          </app-quote>
    </div>
  </div>