<div class = "quote">
<p>{{ quote.votes }} Points</p>
  <div>
    <a href="{{ quote.link }}">
      {{ quote.title }}
    </a>
    <div class="meta">({{ quote.domain() }})</div>
        <a href (click)="voteUp()">
          <i class="arrow up icon"></i>
          upvote 
        </a><br>
        <a href (click)="voteDown()">
          <i class="arrow down icon"></i>
          downvote
        </a><br>
          <!-- <a href (delete)='deleteQuote($event,i)'> -->
            <a>
            <i class="trash icon"></i>
            Delete
          </a>
  </div>
  </div>
  